body, html {
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(30, 30, 30);
    color: white;
}
header {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.wrapper {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 10px;
}
img {
    width: 50px;
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
}
.left-navigation {
    display: flex;
    align-items: center;
}
.navigation-ul, .right-navigation a, .desktop-burger {
    display: none;
}
.right-navigation {
    display: flex;
    gap: 30px;
    align-items: center;
}

article {
    margin: 20px 0;
}

.big-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.big-card p {
    margin: 0;
}

.big-card,
.big-card img {
    width: 100%;
}
.big-card img {
    object-fit: cover;
}
.big-card span,
.small-card span {
    text-transform: uppercase;
    color: red;
    font-size: 10px;
}
.big-card p {
    font-size: 30px;
    font-weight: 600;
}
.big-card footer,
.small-card footer {
    color: gray;
    text-transform: uppercase;
    font-size: 10px;
}

.stories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.small-card {
    width: calc(50% - 5px)
}

.small-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.small-card .content {
    font-weight: bolder;
}

.small-card p:last-child {
    color: gray;
    text-transform: uppercase;
    font-size: 10px;
}

.small-card:last-child {
    display: none;
}

.hero {
    background-image: url("https://t3.ftcdn.net/jpg/02/09/64/28/360_F_209642851_wl5iUgHZRvkcysbisHS1IeB0M1HTDyQz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

form{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin: 0;
    flex: 1;
}
input{
    border: none;
    border-bottom: 2px solid red;
    padding: 10px 0 0 0;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

input::placeholder{
    color: grey;
    font-size: 20px;
}

form button{
    width: 50px;
    min-width: 40%;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
}
.hero-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body > footer {
    background-color: black;
}
footer ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 30px 0;
    margin: 0;
}
ul li {
    list-style: none;
}
ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
@media  only screen and (min-width: 992px) {
    .wrapper {
        height: 100%;
        max-width: 960px;
    }

    .navigation-ul, .right-navigation a, .desktop-burger {
        display: initial;
    }
    .navigation-ul ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .right-navigation a {
        color: red;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 2px solid red;
        padding-bottom: 5px;
    }
    .mobile-burger {
        display: none;
    }
    
    .main-content {
        display: flex;
        gap: 50px
    }

    .featured h2 {
        margin-top: 0;
    }

    .main-content article {
        flex: 1;
    }

    .feature,
    .stories {
        display: flex;
        flex-direction: column;
    }

    .small-card {
        display: flex;
        gap: 15px;
        width: 100%;
    }


    .card-content {
        display: flex;
        flex-direction: column;
        flex: 2;
    } 

    .card-img img {
        width: 110px;
        height: 110px;
    }

    .small-card:last-child {
        display: block;
    }

    .small-card:last-child {
        display: flex;
    }

    .hero-flex {
        height: 100%;
        width: 50%;
        justify-content: center;
        align-items: center;

}